<!--
  File Name: index.ejs
  Author Name: Sravan Kumar Konudula
  Student Id: 301237930
  Web App Name: Favourite Car List
-->

<% include ../partials/header.ejs %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<!-- MAIN CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h3>Favourite Cars List</h3>
      <a href="/cars/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add a car</a>
      <br />
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Car Name</th>
              <th class="text-center">Car Model</th>
              <th class="text-center">Category</th>
              <th class="text-center">Price</th>
              <th class="text-center"></th>
               </tr>
          </thead>
          <tbody>
            <!-- Template Row -->
            <% for (let count = 0; count < cars.length; count++) { %>
            <tr>
              <td><%= cars[count].Carname %></td>

              <td class="text-center"><%= cars[count].Category %></td>
              <td class="text-center"><%= cars[count].Carmodel %></td>
              <td class="text-center"><%= cars[count].Price %></td>

              <td class="text-center">
                
                <a href="/cars/edit/<%= cars[count]._id %>" class="btn btn-primary btn-sm">
                  <i class="bi bi-pencil"></i> Edit</a>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      
      <form>
        <div class="from-group">
          <label for="nameTextField">Enter price: <label id="lblPrice" style = "color:red"></label>  
          <br>(Please note that cars that are having more the than this price will   gets deleted)</label>
          <input
            type="text"
            class="form-control"
            id="priceTextField"
            placeholder="Enter the Car Name:"
            name="price"
            required
            onkeyup="updateLblValue()"
          />
        </div>
        <!-- <a href="cars/delete/1" class="btn btn-warning btn-sm"> -->
          <a href="" id="deleteBtn" class="btn btn-warning btn-sm" onclick="deleteCars()" >
            <i class="bi-trash"></i> Delete</a>
      </form>
      <div class="col-md-offset-1 col-md-10 text-center">
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
      </div>
      
    </div>
  </div>
</div>
<script type="text/javascript">

//Getting the value provided in Price and pass the details to backend to perform delete operation
function deleteCars(){
  // alert("value is: "+ document.getElementById('priceTextField').value);
  if(document.getElementById('priceTextField').value == ""){
    alert("Please enter price.");
    return false;
  }
  else{
    document.getElementById("deleteBtn").href="cars/delete/"+document.getElementById('priceTextField').value; 
  }
}

//Method to update label value based on the text box value provided
function updateLblValue() {
  document.getElementById("lblPrice").innerHTML = "Delete ALL cars that are more than > "+ document.getElementById("priceTextField").value ;
}

</script>

<% include ../partials/footer.ejs %>
